.know-more-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.know-more-btn a {
  color: white;
  text-decoration: none;
}

.know-more-btn:hover {
  background-color: #0056b3;
}